/* import tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* css */
:root {
  font-size: 14px;
}

body {
  margin: 0;
  font-size: 1rem;
}

section {
  padding: 20px 0;
}

button:focus {
  outline: none;
}

/* heading */
.heading-wrapper {
  text-align: center;
  padding: 10px 0 20px 0;
}

.heading {
  display: inline-block;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  position: relative;
}

.heading::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: var(--color-red);
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
}

.heading::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: var(--color-red);
  top: 50%;
  transform: translateY(-50%);
  right: -30px;
}

.active {
  color: #fff !important;
  background-color: var(--color-red);
}

.shiny {
  position: relative;
  overflow: hidden;
}

.shiny::before {
  position: absolute;
  content: "";
  display: inline-block;
  z-index: 50;
  top: -180px;
  left: 0;
  width: 30px;
  height: 200px;
  background-color: #fff;
  opacity: 0.6;
  animation: shiny 3s ease-in-out infinite;
}

@-webkit-keyframes shiny {
  0% {
    -webkit-transform: scale(0) rotate(30deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(30deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(30deg);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(60) rotate(30deg);
    opacity: 0;
  }
}

/*　目次 */

ul .h2 {
  margin-left: 1em;
  position: relative;
}

ul .h2::before,
.h3::before {
  content: "-";
  position: absolute;
  top: 0;
  left: -0.75em;
}

ul .h3 {
  margin-left: 2em;
  position: relative;
}
