:root {
  /* pallete */
  --text-gray: #707070;
  --color-twitter: #1da1f2;
  --color-youtube: #c4302b;
  --color-red: #fa475c;
  --color-link-blue: #448acb;
  --color-lightgray: #e3e3e3;
  --color-hodred: #810404;
  --color-yellow: #e6d200;
  --color-pale-pink: #fdf7f8;
}
