.border {
  border-top: 2px solid var(--color-red);
}

.toTopButton {
  transform: translateY(-50%);
  background-color: var(--color-red);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
